<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-default" th:fragment="navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand btn btn-link" th:href="@{/}">Car Dealer</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a class="btn btn-link" th:href="@{/customers/all}">Customers</a></li>
            <li class="nav-item dropdown">
                <a class="btn btn-link dropdown-toggle" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Sale<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/sales/all}">All</a></li>
                    <li><a class="dropdown-item" th:href="@{/sales/discounted}">Discounted</a></li>
                </ul>
            </li>
            <li><a class="btn btn-link" th:href="@{/part/all}">Parts</a></li>
            <li><a class="btn btn-link" th:href="@{/cars/all}">Cars</a></li>
        </ul>
    </div>
</nav>

<div th:include="scripts :: footer"></div>
</body>
</html>