<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>

<div th:include="home :: navbar"></div>
<div class="container">
    <table class="table table-responsive table-striped table-bordered">
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Travelled distance</th>
            <th>Customer</th>
            <th>Price</th>
            <th>Price with discount</th>
            <th>Discount percent</th>
        </tr>
        <tbody>
            <tr th:each="sale : ${sales}">
                <td th:text="${sale.carMake}"></td>
                <td th:text="${sale.carModel}"></td>
                <td th:text="${sale.carTravelledDistance}"></td>
                <td th:text="${sale.customerName}"></td>
                <td th:text="${#numbers.formatDecimal(sale.priceWithoutDiscount, 0, 2)}"></td>
                <td th:text="${#numbers.formatDecimal(sale.priceWithDiscount, 0, 2)}"></td>
                <td th:text="${sale.discount}"></td>
            </tr>
        </tbody>
    </table>
</div>

<div th:include="scripts :: footer"></div>
</body>
</html>